@font-face {
	font-family: default;
	src: url('../../public/fonts/Ovo-Regular.ttf');
}

body {
	margin: 0;
	font-family: var(--primary-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "default" "Montserrat", sans-serif;
	--secondary-font: "default" "Montserrat", sans-serif;
	/* --------------------- */
}